<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mt-3">
        <h2>Dados Da Empresa</h2>       
        <table class="table table-hover">
          <tbody>
            <tr><th>Empresa</th><td>Doe</td><td>john@example.com</td></tr>
            <tr><th>Responsavél pelo Estagiário</th><td>Moe</td><td>mary@example.com</td></tr>
            <tr><th>Cargo</th><td>Dooley</td><td>july@example.com</td></tr>
            <tr><th>Morada/Sede</th><td>Doe</td><td>john@example.com</td></tr>
            <tr><th>Horário Funcionamento</th><td>Moe</td><td>mary@example.com</td></tr>
            <tr><th>Horas por Dia</th><td>Dooley</td><td>july@example.com</td></tr>
            <tr><th>Monitor</th><td>Doe</td><td>john@example.com</td></tr>
            <tr><th>Cargo Monitor</th><td>Moe</td><td>mary@example.com</td></tr>
            <tr><th>GMAIL</th><td>Dooley</td><td>july@example.com</td></tr>
            <tr><th>Telefone</th><td>Dooley</td><td>july@example.com</td></tr>
            <tr><th>NIF</th><td>Dooley</td><td>july@example.com</td></tr>

          </tbody>
        </table>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>