<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mt-3">
        <h2>Dados Da Empresa</h2>       
        <table class="table table-hover">
          <tbody>
           
            <tr><th>Empresa</th><td><div class="input-group mb-3"><span class="input-group-text">Empresa:</span><input type="text" class="form-control" placeholder="Nome da Empresa"></div></td></tr>
           
            <tr><th>Responsavél pelo Estagiário</th><td><div class="input-group mb-3"><span class="input-group-text">Nome</span><input type="text" class="form-control" placeholder="First Name"><input type="text" class="form-control" placeholder="Last Name"></div>
            
              <tr><th>Cargo</th><td><div class="input-group mb-3"><span class="input-group-text">Cargo</span><input type="text" class="form-control" placeholder="Responsável"></div></tr>
            
              <tr><th>Morada/Sede</th><td><div class="input-group mb-3"><span class="input-group-text">Cargo</span><input type="text" class="form-control" placeholder="Responsável"></div></tr>
            
              <tr><th>Horário Funcionamento</th><td><input type="text" class="form-control" placeholder="Horário Funcionamento"></td><td>mary@example.com</td></tr>
           
              <tr><th>Horas por Dia</th><td><input type="text" class="form-control" placeholder="Horas por Dia"></td><td>july@example.com</td></tr>
           
              <tr><th>Monitor</th><td><div class="input-group mb-3"><span class="input-group-text">Monitor</span><input type="text" class="form-control" placeholder="First Name"><input type="text" class="form-control" placeholder="Last Name"></div></tr>
           
              <tr><th>Cargo Monitor</th><td><div class="input-group mb-3"><span class="input-group-text">Cargo</span><input type="text" class="form-control" placeholder="Monitor"></div></td></tr>
           
              <tr><th>GMAIL</th> <td><div class="input-group"><input type="text" class="form-control" placeholder="Your Email"><span class="input-group-text">@gmail.com</span></div></tr>
           
              <tr><th>Telefone</th><td><input type="text" class="form-control" placeholder="Telefone"></td><td>july@example.com</td></tr>
           
              <tr><th>NIF</th><td><input type="text" class="form-control" placeholder="NIF"></td><td>july@example.com</td></tr>

          </tbody>
        </table>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>